<section class="max" >
    <h2>Nuestros objetivos:</h2>
    <p> * Promover entre los hondure帽os el respeto, la protecci贸n, la defensa y el bienestar de los animales, divulgando toda la normativa nacional, vigente en materia de protecci贸n a los animales de compa帽铆a, animales destinados al trabajo, al consumo humano y fauna silvestre con el prop贸sito de incrementar la cultura de denuncia en casos de maltrato y crueldad animal. <br> 
<br>
* Proporcionar orientaci贸n legal a personas particulares para la documentaci贸n, presentaci贸n y seguimiento a denuncias por maltrato y crueldad animal.
<br> <br>
* Desarrollar programas, proyectos y campa帽as a favor del bienestar animal.
<br> <br>
* Suscribir alianzas con instituciones de gobierno y organizaciones no gubernamentales nacionales y extranjeras  a fin de desarrollar estrategias de conservaci贸n y manejo sostenible de la fauna silvestre.
<br> <br>
* Brindar asesor铆a legal y capacitaciones gratuitas a las autoridades nacionales encargadas de la aplicaci贸n de la Ley de Protecci贸n y Bienestar Animal, leyes ambientales, y los nuevos delitos contra el Bienestar Animal y la Diversidad Biol贸gica del C贸digo Penal vigente.</p>
<br>


    <h2>Nuestra historia</h2>
    <p>AHPRA de Honduras se creo el 11 de septiembre de 2011 como una organizaci贸n sin fines de lucro
        con el deseo de ser una voz que anuncie la ayuda de los seres vivos que forman parte de nosotros y 
        la naturaleza que hay en nuestro territorio hondure帽o.
    </p>

    <h2>Informaci贸n y ubicaci贸n</h2>
    <p>ONG que promueve el respeto y protecci贸n 锔 de los  . Abogados con formaci贸n en Derecho Animal. Nuestra sede esta ubicada en Tegucigalpa, Honduras.</p>
    <p>Puede contactarse con nostros a trav茅s de correo electronico ahpra_honduras@yahoo.com</p>
</section>
