<h2>¿Cómo Ayudar?</h2>
<section class="ayuda">
    {{#each ayuda}}
    <div class="tarjeta-ayuda">
        <div class="contenedor-imagen">
            <img src={{imagen}} alt={{alt}}>
        </div>
        <div class="contenido">
            <h3>{{title}}</h3>
            <p>{{texto}}</p>
        </div>
    </div>
    {{/each}}
</section>
<section class="ayuda-extra">
    <h3>No Son Las Únicas Maneras de Ayudar</h3>
    <p>Apoyar la protección animal no se limita a ser voluntario o realizar donaciones directas. Hay muchas otras
        maneras de marcar la diferencia. La difusión responsable de información en las redes sociales puede generar
        conciencia sobre problemas de maltrato animal o promover la adopción responsable. Optar por productos y marcas
        que respalden prácticas éticas y libres de crueldad animal es otra forma poderosa de contribuir. Además, educar
        a familiares y amigos sobre la importancia del respeto hacia los animales y cómo pueden ellos también
        involucrarse puede generar un impacto significativo en nuestra comunidad y más allá. Cada pequeña acción cuenta
        en la construcción de un mundo más compasivo y consciente hacia nuestros compañeros animales.</p>
    <p>¡Haz la diferencia!</p>
</section>