<section class="titulo-paginas">
    <h2>Envíanos un Mensaje</h2>
</section>
<section class="form-soporte">
    <div class="form">
        <form id="form-contacto" action="">
            <div class="campo">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" placeholder="Nombre Completo">
            </div>
            <div class="campo">
                <label for="correo">Correo:</label>
                <input type="email" id="correo" placeholder="johndoe@example.com">
            </div>
            <div class="campo">
                <label for="tipomensaje">Asunto:</label>
                <select id="tipomensaje">
                    <option value="." disabled selected>Selecciona el tipo de mensaje</option>
                    <option value="1">Consulta</option>
                    <option value="2">Voluntariado</option>
                    <option value="3">Adopción</option>
                </select>
            </div>
            <div class="campo">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" cols="30" rows="7"></textarea>
            </div>
            <input class="enviar" type="submit" name="enviar" id="enviar">
        </form>
    </div>
</section>
<h3 class="redh3">Puedes Seguirnos en Redes Sociales</h3>
<section class="redes-contacto">
    <a href="https://www.facebook.com/www.ahprahonduras.org/" target="_blank" class="boton-facebook">
        <i class="fab fa-facebook-f"></i> Visita Nuestro Facebook
    </a>
    <a href="https://twitter.com/ahprahn?lang=es" target="_blank" class="boton-twitter">
        <i class="fab fa-twitter"></i> Visita Nuestro Twitter (X)
    </a>
    <a href="https://hn.linkedin.com/company/asociaci-n-hondure-a-protectora-de-los-animales-y-su-ambiente-ahpra-"
        target="_blank" class="boton-linkedin">
        <i class="fab fa-linkedin"></i> Visita Nuestro Linked-In
    </a>
</section>
<section class="correo">
    <h3>Correo Electrónico</h3>
    <p>Puedes escribirnos directamente a: ahpra_honduras@yahoo.com</p>
</section>
<script type="module" src="./javascript/contacto.js"></script>
