<div class="donation-section">
    <h2 class="titulo-donacion">¡Ayuda a nuestros amigos peludos!</h2>
    <p>Tu generosidad hace posible que sigamos cuidando y protegiendo a las mascotas sin hogar. ¡Donemos juntos!</p>
    <div class="donation-form">
        <label for="amount">Monto de la donación:</label>
        <input type="number" id="amount" placeholder="Ingresa el monto en USD">
        <button onclick="donate()">Donar</button>
    </div>
    <div class="confirmation-message" id="confirmationMessage"></div>
</div>

<div class="donation-extra">
    <h2>Otras Formas de Donación</h2>
    <p>Agradeceremos su aporte a la cuenta a nombre de AHPRA en Banco del Pais, <span class="cuenta"># 21-308-000228-0.</span> <br> ¡Gracias!</p>

    <h3>¿Deseas hacer una donación más personalizada? ¡Contáctanos!</h3>
    <p>Nuestro correo: ahpra_honduras@yahoo.com</p>
</div>