<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-info">
        <p>AHPRA</p>
        <p>Asociación Hondureña Protectora de los Animales</p>
      </div>
      <div class="social-links">
        <h4>Síguenos en redes sociales</h4>
        <ul>
          <li><a href="https://www.facebook.com/www.ahprahonduras.org/"><span class="icon facebook"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="https://twitter.com/ahprahn?lang=es"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="https://hn.linkedin.com/company/asociaci-n-hondure-a-protectora-de-los-animales-y-su-ambiente-ahpra-" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2023 AHPRA - Todos los derechos reservados</p>
    </div>
  </div>
</footer>