<header>
    <input type="checkbox" id="check">
    <label class="hamburger" for="check">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section class="branding">
        <img src="https://static.wixstatic.com/media/5ec74a_f27fe03861894ed88cd3c32ebb7e19f4~mv2.png/v1/crop/x_25,y_56,w_429,h_387/fill/w_276,h_246,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Untitled%20design%20(3).png" alt="logo">
        <h1>AHPRA</h1>
    </section>
    <nav>
        <ul class="navigation">
            {{#each paginas}}
            <li><a href={{direccion}}>{{title}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>