<section class="hero-banner">
    <div class="hero-content">
        <h1>Cambiemos Vidas, Una Pata a la Vez</h1>
        <p>Llevamos más de 10 años creando un mejor ambienta para los animales en Honduras y tú puedes ser parte de
            esto, ¡apoya nuestra causa!</p>
        <a href="#" class="boton">Contáctanos</a>
    </div>
</section>
<hr class="division">