  <section class="mision-vision">
        <div class="mision">
            {{#each mision}}
            <h2>{{title}}</h2>
            <p>{{texto}}</p>
            {{/each}}
        </div>
        <div class="vision">
            {{#each vision}}
            <h2>{{title}}</h2>
            <p>{{texto}}</p>
            {{/each}}
        </div>
    </section>
    <hr class="division">