<article>
    <h2>ANIMALES -
        Dónde denunciar los actos de crueldad animal en Honduras</h2>
    <div class="image-container">
        <img src="https://scontent.ftgu3-4.fna.fbcdn.net/v/t1.6435-9/105672315_3053874094665757_6906475133536625236_n.png?stp=dst-png_p526x296&_nc_cat=107&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=4ReBfEwb8LsAX-K6Tbu&_nc_ht=scontent.ftgu3-4.fna&oh=00_AfCns-sl0B6MXuna4d2kf8TUOtQ8SSGpA335IdmDQWnAfw&oe=659462A1"
            alt="Descripción de la imagen 1">
    </div>
    <p>
        Si estás buscando dónde denunciar un acto de crueldad animal en Honduras, esta información te puede servir.

        El maltrato animal en nuestro país es algo de lo que no tenemos mucho conocimiento en cuanto a leyes o
        lugares
        donde poder denunciar, sin embargo, hoy en día existen muchas asociaciones que velan por el bienestar de los
        animales, acá puedes ver una lista de protectoras de animales en Honduras.

        En cuanto a denuncias se refiere, puedes acudir a las siguientes instancias de autoridades competentes:

        En el caso de Infracciones leves puede acudir al Departamento de Justicia Municipal de todas las alcaldías a
        nivel nacional. En el caso del Distrito Central también se puede denunciar marcando la línea 100. En el caso
        de
        San Pedro Sula puede denunciar llamando al número 2250-2141, extensión 1380

        En el caso de Infracciones Graves y muy Graves puede acudir a los Juzgados de Paz a nivel nacional, Poder
        Judicial de Honduras PBX: 2240-7500, www.poderjudicial.gob.hn.

        En el caso de Delito de Maltrato de Animales y Delito de Abandono de Animales puede acudir a las Oficinas
        del
        Ministerio Público a nivel nacional PBX: 2221-3099, 2221-5620 al 40, www.mp.hn o a la Dirección Policial de
        Investigaciones (DPI) PBX: 2246-5772, 2246-0591, www.policianacional.gob.hn, Línea 911, www.911.gob.hn.
        También
        puedes denunciar en Jefaturas o postas policiales.

        También puedes acudir a medios de comunicación y redes sociales para que su denuncia tenga mayor fuerza,
        pero
        asegúrese de que su denuncia sea de manera anónima para evitar problemas.</p>
</article>
<a class="boton" href="./blog.html">Regresar</a>