<h2>Nuestros Programas</h2>
<div class="contenedor-columnas">
    {{#each programas}}
    <div class="contenedor">
        <h3>{{title}}</h3>
        <p>{{descripcion}}</p>
    </div>
    {{/each}}
</div>