<section class="voluntariado">
        <section class="salvados">
            {{#each ejemplos}}
            <div class="inicio-salvados">
                <img src={{imagen}} alt={{alt}}>
            </div>
            {{/each}}
        </section>
        <section class="unirse">
            <p>Hemos salvado cientos de vidas ¡ayudanos a salvar aún más!</p>
            <a href="contacto.html" class="boton">Unirse</a>
        </section>
    </section>
<hr class="division">
