header {
    text-align: center;
    padding: 0px;
    background-color: @nav-bg-color;

    h1, h2 {
        color: @blanco;
    }
}

section {
    &.max {
        max-width: 800px;
        margin: 0 auto;

        h2 {
            color: @negro;
        }

        p {
            color: @negro;
        }
    }
}

