.donation-section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;

    .titulo-donacion {
        color: @nav-link-hover-color;
    }


    .donation-form {
        margin-top: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: @nav-link-hover-color;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        background-color: @nav-bg-color;
        color: @blanco;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: darken(@nav-bg-color, 10%);
    }

    .confirmation-message {
        margin-top: 20px;
        font-weight: bold;
        color: @nav-bg-color;
    }
}

.donation-extra {
    margin: 20px;
    margin-bottom: 40px;
    padding: 20px;
    p{
        text-align: center;
        line-height: 1.5;
        .cuenta{
            font-weight: bold;
        }
    }
    h3{
        text-align: center;
    }
}