.event-section {
  margin-top: 20px;
  padding: 20px;
  background-color: @blanco;
  border-radius: 8px;
  text-align: center;

  .event {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid @gris;
    border-radius: 8px;
    background-color: @blanco;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    img {

      max-width: 100%;
      width: 150px;
      height: 150px;
      border-radius: 8px;
      margin-bottom: 10px;
    }

  }
}

@media (max-width: 600px) {
  .event-section {
    margin-top: 10px;
  }
}