article {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 2;

    p {
        text-align: justify;
    }

    .image-container {
        margin: 0;

        text-align: center;

        img {
            width: 70%;
        }
    }
}

.boton {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    background-color: @nav-link-hover-color;
    color: @blanco;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin: 20px;
    &:hover {
        background-color: @nav-bg-color;
    }
}

@media (min-width: 768px){
    article {
        .image-container {
            text-align: center;
            margin: 20px 0;
            float: left;
          
            img {
                width: 80%;
                height: auto;
                border-radius: 5px;
            }
        }
    }
    
}