@altura: 100%;
@ancho: 100%;
@negro: #000000;
@blanco: #ffffff;
@nav-bg-color: #009D5A;
@nav-link-color: #fff;
@nav-link-hover-color: #E4616F;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "header.less";
@import "footer.less";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: @blanco;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}